<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chessApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_plusplus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_plusplus_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.chessApp.normal.InstructionsNormal"
            android:label="@string/title_activity_instructions"
            android:parentActivityName="com.example.chessApp.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chessApp.MainActivity" />
        </activity>
        <activity
            android:name="com.example.chessApp.normal.DisplayBoardNormal"
            android:parentActivityName="com.example.chessApp.MainActivity" />
        <activity
            android:name="com.example.chessApp.cylinder.DisplayBoardCylinder"
            android:parentActivityName="com.example.chessApp.MainActivity" />
        <activity android:name="com.example.chessApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>